<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   MoviesApp

   Created by Ibrahim Maina on 16/01/2022.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>App Secret</key>
    <string>c388e36a-4994-4c0e-8aac-5714f33cfde6</string>
  </dict>
</plist>
